.cart {
  display: inline-block;

  .cart-item {
    display: flex;
    padding: 10px;
    border: 1px solid lightgray;
    margin-top: -1px;

    .name {
      width: 250px;
    }

    .remove {
      width: 30px;
      color: red;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: #5c5c5c;
        color: white;
        opacity: 0.7;
      }
    }

    .amount {
      width: 40px;
      text-align: center;
    }
  }

  .cart-total {
    font-weight: bold;
    margin-top: auto;
    margin-top: -1px;
    justify-content: flex-end;
  }
}

.cart-buttons {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin: 60px 0 0 25px;

  .test-button {
    width: 100%;
    margin-bottom: 10px;
    padding: 4px;
    cursor: pointer;
    background: #0891b2;
    color: white;
    border: 1px solid #b7b7b7;

    &:hover {
      background: #16add3;
    }
  }
}