.cart {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  padding: 10px 25px 20px;
  border-left: 1px solid #c4c4c4;

  .cart-item {
    display: flex;
    justify-content: space-between;

    .name {
      flex-basis: 70%;
    }

    .remove {
      color: red;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .cart-total {
    margin-top: auto;
  }
}
