.product-item {
  position: relative;
  background: white;
  border-radius: 3px;
  width: 21%;
  height: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-around;

  .product-title {
    font-weight: 500;
  }

  .product-image {
    margin: 5px 20%;
    border: 1px solid #c4c4c4;
    flex-basis: 40%;
  }

  .add-remove-wrapper {
    display: flex;
    justify-content: center;
    
    .set-amount {
      cursor: pointer;
      background: rgb(8, 145, 178);
      color: white;
      height: 24px;
      width: 37px;
    }
  }
  
  .amount {
    -moz-appearance: textfield;
    border: 1px solid #c4c4c4;
    flex-basis: 40%;
    width: 0;
  }
}
