.products {
  background: rgb(8, 145, 178);
  flex-basis: 80%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  h2 {
    color: white;
  }

  .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }
}
