.products {
  // background: rgb(8, 145, 178);
  flex-basis: 70%;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }
}
