.products {
  flex-basis: 70%;
  padding: 10px 25px 20px;
  display: flex;
  flex-direction: column;

  .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }
}
