.product-item {
  position: relative;
  background: white;
  border-radius: 3px;
  border: 1px solid lightgray;
  width: 21%;
  height: 45%;
  text-align: center;
  padding: 15px 10px;
  margin: 15px;
  box-sizing: border-box;

  .product-title {
    font-weight: 500;
  }

  .product-image {
    margin: 5px 20%;
    border: 1px solid #c4c4c4;
    flex-basis: 40%;
    min-height: 70px;
  }

  .heart-svg {
    width: 20px;
    height:20px;
    color: rgba(209, 213, 219, 1);
    cursor: pointer;
    transition: 0.3s;

    &.active {
      color: #4f7087;
    }
  }

  .add-remove-wrapper {
    display: flex;
    justify-content: center;
    
    .set-amount {
      cursor: pointer;
      background: rgb(8, 145, 178);
      color: white;
      padding: 3px 0;
      width: 37px;
    }
  }
  
  .amount {
    -moz-appearance: textfield;
    border: 1px solid #c4c4c4;
    flex-basis: 40%;
    width: 0;
  }
}
