.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  padding: 10px 30px 20px;
  border-right: 2px solid #c4c4c4;
  background: #07253a;
  // background: #3a6f7c;
  color: white;
}
