.product-item {
  position: relative;
  border: 3px solid #9f9c9c;
  background: lightgray;
  border-radius: 10px;
  width: 21%;
  height: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-around;

  .product-image {
    margin: 5px 20%;
    border: 1px solid gray;
    flex-basis: 40%;
  }
    
  .add-remove-wrapper {
    display: flex;
    justify-content: center;
    
    .set-ammount {
      cursor: pointer;
      background: #376ccc;
      color: white;
      height: 24px;
      width: 37px;
    }
  }
  
  .ammount {
    -moz-appearance: textfield;
    flex-basis: 40%;
    width: 0;
  }
}
